.burgerWrapper {
  position: relative;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burgerButton {
  position: absolute;
  height: 100%;
  width: 100%;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
.burgerBar {
  height: 3px;
  background-color: #414141;
}
.burgerBarsWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.list {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
}
