.burgerWrapper {
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burgerButton {
  position: absolute;
  height: 100%;
  width: 100%;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
.burgerBar {
  height: 4px;
  background-color: #414141;
}
.burgerBarsWrapper {
  height: 24px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
}
