.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  min-height: 80px;
  background-color: white;
}
.containerMobile {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 80px;
}
.hoprLogo {
  width: fit-content;
  justify-self: center;
  align-self: center;
  margin-bottom: -5px;
  cursor: pointer;
}
.hoprLogoMobile {
  cursor: pointer;
  padding: 5px;
}
.linksRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.githubIcon {
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.hamburgerWrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  grid-column: 4;
}
