@media (max-width: 1000px) {
  .titleStyle {
    scale: 0.8;
  }
}
@media (max-width: 650px) {
  .titleStyle {
    scale: 0.6;
  }
}

.cashoutGrid {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
}
.contentWrapper {
  padding: 0px 30px;
}
.mainTitle {
  font-size: 100px !important;
  padding: 200px 0px;
}
.titleStyle {
  font-size: 60px;
  line-height: 60px;
  color: #414141;
  text-align: center;
}
.howToCashOutTitle {
  padding-bottom: 90px;
}
.wideText {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.15px;
  color: #414141;
  text-align: center;
}
.learnMoreWrapper {
  padding: 160px 30px;
  padding-bottom: 80px;
}
.link {
  text-decoration: underline;
}
