@media (max-width: 1000px) {
  .robotsImage {
    margin-top: -80px;
  }
}

@media (max-width: 650px) {
  .titleStyle {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .sectionWrapper {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr auto;
    gap: 0px !important;
    text-align: center;
  }
  .ecosystemText {
    padding: 20px 20px !important;
  }
  .bountiesStatsWrapper {
    top: 70px !important;
  }
}

.textContainer {
  padding-top: 20px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 34px;
}
.contentWrapper {
  padding: 0px 30px;
}
.robotsImage {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}
.bountiesStatsWrapper {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.titleStyle {
  font-size: 60px;
  line-height: 60px;
  color: #414141;
  text-align: center;
}
.mainTitle {
  max-width: 1000px;
}
.mainSubtext {
  max-width: 600px;
}
.openBountiesTitle {
  padding-bottom: 60px;
}
.shareIdeasText {
  width: 650px;
  padding-bottom: 200px;
}
.asterixText {
  padding-bottom: 40px;
  padding-top: 96px;
}
.ecosystemText {
  padding: 70px 30px;
}
.wideText {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.15px;
  color: #414141;
  text-align: center;
}
.gridWrapper {
  padding-bottom: 60px;
}
.linkStyle {
  text-decoration: underline;
  color: #0000b4;
}
.centeringWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionWrapper {
  display: grid;
  grid-template-columns: minmax(200px, 325px) minmax(300px, 500px);
  gap: 20px;
  justify-content: center;
}
.sectionImage {
  padding-top: 20px;
}
