@media (max-width: 1000px) {
  .titleStyle {
    font-size: 80px !important;
  }
}

@media (max-width: 650px) {
  .titleStyle {
    font-size: 60px !important;
  }
}

.titleStyle {
  font-size: 100px;
  padding: 200px 0px;
  line-height: 60px;
  color: #414141;
  text-align: center;
}
.gridWrapper {
  padding-bottom: 200px;
}
